// Imports
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Neucha&display=swap"); // This one for now

// Global
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #a72b2b;
  font-family: "Montserrat", sans-serif;
  font-family: "Neucha", cursive;
}

// Core colors
$white: #e9e3e3;
$danger: #a72b2b;
$dark: #181818;

// Other colors
$page-bg-color: $danger;
$sidebar-color: $dark;

// Media queries

$mobile: 768px;

// Write your own styles here

// Layout

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.layout-style {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  font-size: 40px;

  @media screen and (max-width: $mobile) {
    font-size: 20px;
  }
}

.footer-repo {
  display: flex;
  place-items: center;
}

.headerIcon {
  cursor: pointer;
}

// Image

.img-fluid {
  max-width: 100%;
  height: auto;
}

.image-list {
  @media screen and (max-width: $mobile) {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 4px !important;
  }
}

// Overwrite the MUI Components here
// Sidebar
.MuiDrawer-paper {
  background-color: $sidebar-color !important;
  color: $white !important;
}

.MuiSvgIcon-root {
  color: $white !important;
}
